<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lost Pet Finder</title>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/08/3b/cb/083bcbed388a1136d2aea2054f53cddb.jpg">
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlCnfvvaUciotZGiTU_Zbyjda3Gw6vDtw&callback=initMap&libraries=places"
  async defer></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>
  <script src="scripts/reactScript.js"></script>
</head>
<body>
  <!-- INFO BUTTON TEXT AND CLOSE POPUP BUTTON -->
  <div class = "container">
    <a href="#jump"><img class = "info" id="infoImage" src="images/info.svg" alt="Info"></a>
    <div class="general">
      <a name="jump"><div class="pop hidden"></a>
        <button name = "button" class="close">X &nbsp;&nbsp;&nbsp;</button>
        <h2>
          <p>Use the map below to locate pet adoption centers and other pet-related<p></p>businesses in the San Francisco Bay Area.</p><br>
          <p>If your pet has lost his way home,<p></p> please post their picture along with your email address.</p><br>
          <p>If you've found your pet, simply click 'I Found This Pet'</p>
          <p>and it will delete your pet from our site.</p>
        </h2>
      </div>
    </div>
  </div>
  <!-- BEGIN REACTJS -->
  <div id="root"></div>
  <div class="App">
    <p class="App-intro">
      Welcome to Feline & Friends Finder</p>
      <p class="App-description">
        Post a picture of your lost pet along with your email and location so our community can help you locate them!
      </p>
      <div class="App-form">
        <form method="post" class="form-horizontal" id="newCatForm">
          <fieldset>
          <ul class="formStyle1">

            <li>
              <label class="firstClass">
                Pet Name
                <span class="required">*
                </span>
              </label>
              <input
              id="petName"
              type="text"
              name="petName"
              class="fieldLong"
              placeholder="Pet Name"
              />
            </li>

            <!-- <li>
              <label class="emailClass">
                Owners Email
                <span
                class="required"
                >
                *
              </span>
            </label>
            <input
            id="email"
            type="text"
            name="email"
            class="fieldLong"
            placeholder="example@example.com"
            />
          </li> -->

          <li>
            <label class="locationClass">
              Location Last Seen
              <span
              class="required"
              >
              *
            </span>
          </label>
          <input
          type="text"
          name="locationLastSeen"
          id="locationLastSeen"
          class="fieldLong fieldTextArea"
          placeholder="Location"
          >
        </input>
      </li>

      <li>
        <label class="dateClass">
          Date Last Seen
          <span
          class="required"
          >
          *
        </span>
      </label>
      <input
      type="text"
      name="dateLastSeen"
      id="dateLastSeen"
      class="fieldLong fieldTextArea"
      placeholder="Date Last Seen"
      >
    </input>
  </li>

      <li>
        <label class="pictureClass">
          Picture URL
          <span
          class="required"
          >
          *
        </span>
      </label>
      <input
      id="pictureUrl"
      type="text"
      name="pictureUrl"
      class="fieldPhoto"
      placeholder="http://www.dogz.com/my-cute-pup.jpg"
      />
    </li>
    <li>
      <input
      id="submit"
      type="submit"
      value="Add Your Pet"
      >
    </input>
  </li>
</ul>
</fieldset>
</form>
</div>
  <img src="images/banner.png" width="800vw" />
</div>

<!-- BEGIN HANDLEBARS -->
<section id="cat-form">
  <div id="cats">
    <!-- handlebars template -->
    <script id="cat-template" type="text/x-handlebars-template">
      <div class="cat" data-cat-id="{{_id}}">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class='petName'>{{petName}}</span>
                  </li>
                  <li class="list-group-item">
                    <span class='pictureUrl'><img class="picUrlClass" src="{{pictureUrl}}" height=150px width=200px alt="Lost Pet Picture"></span>
                  </li>
                  <li class="list-group-item">
                    <span class='locationLastSeen'>Last Seen: {{locationLastSeen}}</span>
                  </li>
                  <li class="list-group-item">
                    <span class='dateLastSeen'>Date Last Seen: {{dateLastSeen}}</span>
                  </li>
                  <li class="list-group-item">
                    {{#each owners}}
                    <span>Contact the Owner<p><a href="mailto:" target="_blank">{{email}}</a></p></span>
                    {{/each}}
                  </li>
                </ul>
            <!-- end of album internal row -->
                <button class='owner-email btn btn-primary'>Add Email</button>
                <button class='btn btn-info edit-cat'>Edit Information</button>
                <button class='btn btn-danger delete-cat'>Remove Pet</button>
                <button class='btn btn-success save-cat hidden'>Save Changes</button>
      </div>
    <!-- end one album -->
    </script>
  </div>
</section>

<!-- begin ownerModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="ownerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title">Owner Email</h4>
      </div>
      <div class="modal-body">
        <fieldset class='form-horizontal'>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="ownerEmail"></label>
            <div class="col-md-4">
              <input id="ownerEmail" name="ownerEmail" type="text" placeholder="OwnerEmail@email.com" class="form-control input-md">
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveOwner">Save Email</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer>
  <p>
     🐱  ❤️  🐱
  </p>
  <p>
    &copy; 2016 Emily Anne Moses
  </p>
</footer>
<div id="map"></div>
<script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
<script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
</body>
</html>
