<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lost Pet Finder</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

  </head>

  <body>
    <!-- INFO BUTTON TEXT AND CLOSE POPUP BUTTON -->
    <div class = "container">
      <img class = "info" id="infoImage" src="images/info.svg">

    <div class="general">
    <div class="pop hidden">
      <button name = "button" class="close">Close</button>
      <h2>
            <p>Welcome to the Pet Finder!</p>
            <p>We are so sorry you've lost your pet.</p>
            <p>Please post your pets photograph along with your email address by clicking the "Post A Lost Cat" button below.</p>
            <p>You may also update a pets location if you've seen him or her wandering your neighborhood!</p>
            <p>If you've found your pet, simply click "I Found This Cat" and it will delete your pets form from our site.</p>
      </h2>
    </div>
    </div>
    </div>

<!-- BEGIN CAROUSEL - NEEDS TO CONTAIN HANDLEBARS -->

<!--CLOSE POPUP WINDOW BUTTON FOR ADD AND UPDATE BUTTONS-->
<div class="col-md-6 col-md-offset-3 popupPost hidden">
        <button name = "button" class = "close">Close</button>
        <p>PUT HANDLEBARS INSIDE HERE:</p>
        <p>WILL CONTAIN CAT NAME, URL, LAST SEEN LOCATION AND DATE </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button type="button" class="btn1 addCatToDb btn-primary btn-sm">Post</button>
      </div>

      <div class="col-md-6 col-md-offset-3 popupUpdate hidden">
        <button name = "button" class = "close">Close</button>
        <p>PUT HANDLEBARS INSIDE HERE:</p>
        <p>WILL CONTAIN CAT NAME, URL, LAST SEEN LOCATION AND DATE </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button type="button" class="btn1 updateCatToDb btn-primary btn-sm">Update</button>
    </div> <!--END CLOSE BUTTON FOR POPUP WINDOWS-->



<div class="container fill">
<div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill">

        <!-- begin cat internal row -->
        <div id='cats'>
    <script id="cat-template" type="text/x-handlebars-template">

          <!-- one album -->
          <div class="row cat" data-cat-id = "{{_id}}">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class='row'>
                    <div class="col-md-3 col-xs-12 cat-art">
                      <img src='{{pictureUrl}}' alt="cat image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">

                        <li class="list-group-item">
                          <h4 class='inline-header'>Pet Name:</h4>
                          <span class = 'pet-name'>{{petName}} </span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Where was the pet last seen?</h4>
                          <span class=‘location-last-seen’>{{locationLastSeen}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>When was the pet last seen?</h4>
                          <span class=‘date-last-seen’>{{dateLastSeen}}</span>
                        </li>

                        <!-- <li class="list-group-item">
                        <h4 class="inline-header">Owner</h4>
                        {{#each owner}}<span><p> {{petName}} {{ownerName}} </p></span>{{/each}}
                        </li> -->

                      </ul>
                    </div>

                  </div>
                </div><!--panel-body-->
            </div>
          </div>
        </div>
        <!-- end one album -->
</script>
    </div> <!--last div-->
                  <!-- end of cat internal row -->

        <div class="container">
          <div class="carousel-caption">
                  <button type="button" class="btn1 addCat btn-primary btn-sm">Post A Lost Cat</button>
                  <button type="button" class="btn1 updateCat btn-primary btn-sm">Update Cat Location</button>
                  <button type="button" class="btn1 deleteCat btn-primary btn-sm">I Found This Cat!</button>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="item">
      <div class="fill"> -->

        <!-- begin cat internal row -->
        <!-- <div id='cats'>
<script id="cat-template" type="text/x-handlebars-template"> -->


          <!-- one album -->
          <!-- <div class="row cat" data-cat-id = "{{_id}}">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class='row'>
                    <div class="col-md-3 col-xs-12 cat-art">
                      <img src='{{pictureUrl}}' alt="cat image">
                    </div> -->

                    <!-- <div class="col-md-9 col-xs-12">
                      <ul class="list-group">

                        <li class="list-group-item">
                          <h4 class='inline-header'>Pet Name:</h4>
                          <span class = 'pet-name'>{{petName}} </span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Where was the pet last seen?</h4>
                          <span class=‘location-last-seen’>{{locationLastSeen}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>When was the pet last seen?</h4>
                          <span class=‘date-last-seen’>{{dateLastSeen}}</span>
                        </li> -->

                        <!-- <li class="list-group-item">
                        <h4 class="inline-header">Owner</h4>
                        {{#each owner}}<span><p> {{petName}} {{ownerName}} </p></span>{{/each}}
                        </li> -->

                      <!-- </ul> -->
                    <!-- </div> -->

                  <!-- </div> -->
                <!-- </div> panel-body-->
            <!-- </div>
          </div>
        </div> -->
        <!-- end one album -->
<!-- </script> -->
    <!-- </div> last div-->
                  <!-- end of cat internal row -->

        <!-- <div class="container">

          <div class="carousel-caption">
                  <button type="button" class="btn1 addCat btn-primary btn-sm">Post A Lost Cat</button>
                  <button type="button" class="btn1 updateCat btn-primary btn-sm">Update Cat Location</button>
                  <button type="button" class="btn1 deleteCat btn-primary btn-sm">I Found This Cat!</button>
          </div>

        </div>
      </div>
    </div> -->


    <!-- <div class="item">
      <div class="fill"> -->

        <!-- begin cat internal row -->
        <!-- <div id='cats'> -->
<!-- <script id="cat-template" type="text/x-handlebars-template"> -->
          <!-- one album -->
          <!-- <div class="row cat" data-cat-id = "{{_id}}">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class='row'>
                    <div class="col-md-3 col-xs-12 cat-art">
                      <img src='{{pictureUrl}}' alt="cat image">
                    </div> -->

                    <!-- <div class="col-md-9 col-xs-12">
                      <ul class="list-group">

                        <li class="list-group-item">
                          <h4 class='inline-header'>Pet Name:</h4>
                          <span class = 'pet-name'>{{petName}} </span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Where was the pet last seen?</h4>
                          <span class=‘location-last-seen’>{{locationLastSeen}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>When was the pet last seen?</h4>
                          <span class=‘date-last-seen’>{{dateLastSeen}}</span>
                        </li> -->

                        <!-- <li class="list-group-item">
                        <h4 class="inline-header">Owner</h4>
                        {{#each owner}}<span><p> {{petName}} {{ownerName}} </p></span>{{/each}}
                        </li> -->

                      <!-- </ul> -->
                    <!-- </div> -->

                  <!-- </div> -->
                <!-- </div>panel-body-->
            </div>
          </div>
        </div>
        <!-- end one album -->
        <!-- </script> -->
    </div> <!--last div-->
                  <!-- end of cat internal row -->

        <!-- <div class="container">

          <div class="carousel-caption">
                  <button type="button" class="btn1 addCat btn-primary btn-sm">Post A Lost Cat</button>
                  <button type="button" class="btn1 updateCat btn-primary btn-sm">Update Cat Location</button>
                  <button type="button" class="btn1 deleteCat btn-primary btn-sm">I Found This Cat!</button>
          </div> -->

        <!-- </div> class container -->
      <!-- </div>  class fill -->
    <!-- </div>  class item -->
  </div> <!-- CLASS carousel-inner -->
  <div class="pull-center">
	<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#this-carousel-id" data-slide="next">›</a>
</div> <!-- class pull-center -->
</div> <!--id="this-carousel-id" class="carousel slide"-->
</div> <!--class container fill-->


<!-- VENDOR SCRIPTS -->
<script src="/vendor/jQuery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/handlebars/handlebars.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>
  </body>
  </html>
