body {
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

div#map {
  height: 450px;
  width: 600px;
  border-radius: 15px;
  margin: 3% auto auto auto;
}

fieldset{
  margin-top: 75px;
  margin-bottom: 15px;
}
img{
  border-radius: 15px;
}
button{
  margin: 5px 5px 5px 5px;
}
footer{
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: lightgrey;
  color: white;
  padding-top: 30px;
  font-family: arial;
  font-size: 26px;
  text-shadow: 3px 1px 3px rgba(150, 150, 150, 1);
}
.header img{
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.inline-header {
  display: inline;
  vertical-align: baseline;
  margin-right: 12px;
}
.list-group-item{
  font-family: garamond;
  font-size: 24px;
}
.hidden {
  display: none;
}
h2{
  text-align: center;
  color: black;
  font-family: arial;
}
.pop{
  position: fixed;
  height: 400px;
  width: 90%;
  background-color: white;
  z-index: 3;
}

/*INFO BUTTON STYLES*/
#infoImage{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 5%;
  height: 5%;
  z-index: 2;
}
