.header{
  width: 100%;
}
.btn {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 50%;
}
.btn1 {
  text-align: center;
  margin-left: 10%;
}
.carousel-inner {
  width: 100%;
}
img {
  width: 100%;
}
